---
import { docs } from "@lib/docs";
---

{
  docs.map((doc) => (
    <div class="grid grid-cols-4 my-8">
      <div class="col-span-1">
        <img
          class="mb-4 md:mb-0 rounded-base w-full object-cover"
          src={doc.image}
          alt={doc.name}
        />
      </div>

      <div class="flex flex-col col-span-3 md:p-4 leading-normal">
        <h5 class="mb-2 font-bold text-heading text-2xl tracking-tight">
          {doc.name}
        </h5>
        <ul>
          {doc.data.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
      </div>
    </div>
  ))
}
