---
const { texto, image } = Astro.props;
---

<div
  class="items-center grid grid-cols-1 lg:grid-cols-2 bg-neutral-primary-soft lg:mb-20 p-6 rounded-base"
>
  <div class="col-span-1">
    <img
      class="mb-4 md:mb-0 rounded-base w-full object-cover"
      src={image}
      alt="Portada"
    />
  </div>

  <div class="flex flex-col justify-between col-span-1 p-10 leading-normal">
    <p class="mb-6 text-body">
      {texto}
    </p>
  </div>
</div>
