---
import {
  Swiper,
  SwiperWrapper,
  SwiperSlide,
  SwiperButtonNext,
  SwiperButtonPrev,
} from "astro-swiper";
import CardDoc from "@components/extras/CardDoc.astro";

const docs = [
  {
    id: "id1",
    image: "https://avatar.iran.liara.run/public",
    name: "Paula Almarza Rodriguez",
    profesion: "Kinesióloga",
    data: [
      "Kinesióloga titulada en UDM.",
      "Kinesióloga maxilofacial con formación en Universidad Mayor.",
      "Vicepresidenta de Sokimax (Sociedad de kinesiología maxilofacial y trastornos cráneo cervicales).",
      "Utiliza técnicas de Terapia manual ortopédica, Masoterapia, Liberación miofascial manual e instrumental, Punción seca, Fisioterapia (ultrasonido, tens, láser terapéutico), Taping Neuromuscular, Ejercicio terapéutico.",
      "Atención desde los 15 años.",
      "Más de 12 años de experiencia en pacientes con cefaleas o dolor de cabeza, tensión facial, bruxismo, pre y post cirugía ortognática, respirador oral, dolor miofascial masticatorio y cervical, trastornos temporomandibulares, entre otros.",
    ],
  },
  {
    id: "id2",
    image: "https://avatar.iran.liara.run/public",
    name: "Héctor Meneses León",
    profesion: "Kinesiólogo",
    data: [
      "Kinesiología musculo esquelética.",
      "Kinesiología maxilofacial con formación en Universidad Mayor.",
      "Terapia de Punción seca para tratamiento de los puntos de gatillo y dolor miofascial.",
      "Socio activo SOKIMAX (Sociedad de kinesiología Maxilofacial y trastornos cráneo Cervicales).",
      "Medicina integrativa: Colegio de terapeutas de Chile, reflexología, biomagnetismo, flores de bach, Hipsosis Ericksoniana., reflexología podal.",
      "Tratamiento para bruxismo, tensión facial, pre y post cirugía ortognática, dolor miofascial masticatorio y cervical, evaluación medicina integrativa, terapeuta en biomagnetismo mas de 15 años, entre otras.",
      "Rehabilitación vestibular para el diagnóstico y tratamiento del vértigo posicional paroxístico benigno (VPPV) y otras  patologías vestibulares asociadas a mareos, vértigo e inestabilidad que requieran rehabilitación.",
      "Atención desde los 8 años",
    ],
  },
  {
    id: "id3",
    image: "https://avatar.iran.liara.run/public",
    name: "Silvana Laissle Casas del Valle",
    profesion: "Kinesióloga",
    data: [
      "Kinesióloga con formación en Universidad Finis Terrae.",
      "Diplomada en Kinesiología Maxilofacial, Universidad Mayor",
      "Instructora de Yoga Vinyasa , certificacada en Peachtree Yoga Center, Atlanta, GA.",
      "Instructora de Yoga Prenatal/Postnatal, certificada en Etowah Valley Yoga Studio, Cartersville, GA.",
      "Terapeuta en Reiki, nivel II, Instituto de Medicinas Complementarias, Santiago de Chile.",
      "Terapia de Punción seca para tratamiento de los puntos de gatillo y dolor miofascial.",
      "Socio activo SOKIMAX (Sociedad de kinesiología Maxilofacial y trastornos cráneo Cervicales).",
      "Tratamiento a pacientes con cefalea, respiradores orales, bruxismo, tensión facial, dolor miofascial masticatorio y cervical, problemas posturales, pre y post cirugía ortognática, entre otros.",
      "Atención desde los 12 años.",
    ],
  },
  {
    id: "id4",
    image: "https://avatar.iran.liara.run/public",
    name: "Imay Acuña Salinas",
    profesion: "Fonoaudióloga",
    data: [
      "Fonoaudióloga titulada de la Pontificia Universidad Católica de Chile.",
      "Experiencia en trastornos de deglución y desórdenes miofasciales en niños, adolescentes y adultos.",
      "Diplomado en trastornos de la deglución y la alimentación a lo largo del ciclo vital.",
      "Atención adultos y niños.",
    ],
  },
  {
    id: "id5",
    image: "https://avatar.iran.liara.run/public",
    name: "⁠Felipe Field Seisdedos",
    profesion: "KinesiolKinesiólogoogo",
    data: [
      "Kinesiólogo titulado Universidad Mayor.",
      "Diplomado en fundamentos de la kinesiología maxilofacial U. de los Andes.",
      "Socio activo SOKIMAX (Sociedad de kinesiología Maxilofacial y trastornos cráneo Cervicales).",
      "Utiliza técnicas de Terapia manual: Masoterapia, Liberación miofascial y punción seca.",
      "Atención a pacientes desde los 15 años.",
    ],
  },
  {
    id: "id6",
    image: "https://avatar.iran.liara.run/public",
    name: "Katherine Villalobos",
    profesion: "Kinesiólogo",
    data: [
      "Kinesiólogo titulado Universidad del Mar.",
      "Kinesióloga con experiencia en posturología, terapeuta en vendaje neuromuscular, masoterapia, estética corporal y facial.",
      "Atención a pacientes desde los 8 años.",
    ],
  },
  {
    id: "id7",
    image: "https://avatar.iran.liara.run/public",
    name: "Luis Felipe Landeros Poblete",
    profesion: "Kinesiólogo",
    data: [
      "Kinesiólogo titulado Universidad Andrés Bello.",
      "Magíster en Fisiopatología Cráneo-cervical Cráneo mandibular dolor facial. Universidad Andrés Bello.",
      "Con experiencia en rehabilitación de Trastornos Temporomandibulares, Neuralgia del trigémino, Neuralgia de Arnold, Cefalea Cervicogénica y Cefalea Tensional, a través de la terapia manual ortopédica moderna.",
      "Atención desde los 18 años.",
    ],
  },
  {
    id: "id8",
    image: "https://avatar.iran.liara.run/public",
    name: "Paola Herrera Mancilla",
    profesion: "Kinesióloga",
    data: [
      "Kinesióloga Oncológica.",
      "Kinesióloga Vascular Periférica.",
      "Kinesióloga Maxilofacial con formación Universidad Mayor",
      "Miembro activo de SOKIMAX (Sociedad de Kinesiología Maxilofacial y trastornos Craneo Cervicales).",
      "Miembro activo de SOCHKO (Sociedad Chilena Kinesiología Oncológica).",
      "Terapia de Punción seca para tratamientos de Puntos gatillos y dolor miofascial.",
      "Rehabilitación pre y post Cirugía Ortognática, Oncológica, Linfedema facial, Parálisis facial, síntomas asociados a bruxismo, Dolor orofacial y/o cervical.",
      "Atención de pacientes desde los 12 años.",
    ],
  },
];
---

<div id="docs" class="mb-10">
  <h3 class="mb-14 font-bold text-5xl text-center">Nosotros</h3>
  <Swiper
    options={{
      // check options at https://swiperjs.com/swiper-api
      autoplay: {
        disableOnInteraction: false,
        waitForTransition: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      slidesPerView: 1,
      spaceBetween: 10,
      // Responsive breakpoints
      breakpoints: {
        // when window width is >= 640px
        640: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
      loop: true,
      speed: 1000,
    }}
  >
    <SwiperWrapper>
      {
        docs.map((doc) => {
          return (
            <SwiperSlide>
              <CardDoc doc={doc} />
            </SwiperSlide>
          );
        })
      }
    </SwiperWrapper>
    <SwiperButtonPrev />
    <SwiperButtonNext />
  </Swiper>
</div>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
