---
import {
  Swiper,
  SwiperWrapper,
  SwiperSlide,
  SwiperButtonNext,
  SwiperButtonPrev,
} from "astro-swiper";
import CardDoc from "@components/extras/CardDoc.astro";
import { docs } from "@lib/docs";
---

<div id="docs" class="mb-10">
  <h3 class="mb-14 font-bold text-5xl text-center">Nosotros</h3>
  <Swiper
    options={{
      // check options at https://swiperjs.com/swiper-api
      autoplay: {
        disableOnInteraction: false,
        waitForTransition: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      slidesPerView: 1,
      spaceBetween: 10,
      // Responsive breakpoints
      breakpoints: {
        // when window width is >= 640px
        640: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
      loop: true,
      speed: 1000,
    }}
  >
    <SwiperWrapper>
      {
        docs.map((doc) => {
          return (
            <SwiperSlide>
              <CardDoc doc={doc} />
            </SwiperSlide>
          );
        })
      }
    </SwiperWrapper>
    <SwiperButtonPrev />
    <SwiperButtonNext />
  </Swiper>
</div>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
